.container {

        display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
        height: 45vh;
        letter-spacing: 4px;

        @include breakpoint-down(medium) {
            height: 40vh;


        }
        

    h2 {
        left: 0;
        line-height: 100px;
        margin-top: -100px;
        position: relative;
        text-align: center;
        top: 50%;
        width: 100%;
        font-size: 8vh;
        margin-left: 4rem;
    }
    p {
        left: 0;
        line-height: 100px;
        margin-top: -100px;
        position: relative;
        text-align: center;
        top: 50%;
        width: 100%;
        font-size: 4vh;
        margin-left: 4rem;
    }

    @include breakpoint-down(medium) {
        h2 {
            font-size: 5vh;
            margin-left: 5rem;
        }
        p {
            font-size: 1.5vh;
            margin-left: 5rem;
        }
    }
    @include breakpoint-down(small) {
        h2 {
            font-size: 4vh;
            margin-left: 5rem;
        }
        p {
            font-size: 1.2vh;
            margin-left: 5rem;
        }
      
    }
    

}