.text {
    padding: 1rem;

    &__items {
        text-align: center;
        margin-top:20rem;
    }

    h1 {
        font-size: 7rem;
        letter-spacing: 4px;
    }
    p {
        font-size: 2rem;
        letter-spacing: 3px;
        margin-bottom: 3rem;
    }

    span {
        font-size: 1.5rem;
    }

    @include breakpoint-down(small) {
        padding: 0.1rem;
        &__items {
            text-align: center;
            margin-top: 8rem;
        }
    
        h1 {
            font-size: 1.5rem;
            letter-spacing: 2px;
        }
        p {
            font-size: 0.9rem;
            letter-spacing: 1px;
            margin-bottom: 1rem;
        }
    
        span {
            font-size: 0.8rem;
        }
        
    }
}

.links {
    font-weight: bolder;
    text-decoration: none;
    color: whitesmoke;
    
    &:hover {
        color: chocolate;
    }
}

